<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    table{
        border-collapse: collapse;
        margin-top: 25px;
    }
    td,th{
        border: 1px solid black;
        padding: 10px;
        text-align: center;           
    }
   </style>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    添加学生
                </h3>
            </div>
            <div class="panel-body form-inline">
                <label for="">
                    Id:
                    <input type="text" class="form-control" v-model="id">
                </label>

                <label>
                    Name:
                    <input type="text" class="form-control" v-model="name">
                </label>

                <input type="button" value="添加" class="btn btn-primary" @click="add">

                <label>
                    搜索关键字:
                    <input type="text" class="form-control" v-model="keywords">
                </label>
            </div>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Name </th>
                    <th> Ctime </th>
                    <th> Operation </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in search(keywords)":key="user.id">
                    <td>
                        {{user.id}}
                    </td>
                    <td>
                        {{user.name}}
                    </td>
                    <td>
                        {{user.ctime | newTime}}
                    </td>
                    <td>
                        <a href="" @click.prevent="del(user.id)">
                            删除
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        Vue.filter('newTime',function (data){
            var dt=new Date(data)
            var y=dt.getFullYear()
            var m=dt.getMonth()+1
            var d=dt.getDate()
            return y + '-' + m + '-' + d
        })
        let vm=new Vue({
            el:"#app",
            data:{
                list:[
                    {id:1,name:'姚辉',ctime:new Date()},
                    {id:2,name:'孙西文',ctime:new Date()},
                    {id:3,name:'胡娟',ctime:new Date()},
                    {id:4,name:'李文骁',ctime:new Date()},
                ],
                id:'',
                name:'',
                keywords:''
            },
            methods:{
                add(){
                    this.list.push({id:this.id,name:this.name,ctime:new Date()})
                    this.id=this.name=''
                },
                del(id){
                    var index=this.list.findIndex((item)=>{
                        if(item.id==id){
                            return true
                        }
                    })
                    this.list.splice(index,1)
                },
                search(keywords){
                    var newList=[]
                    this.list.forEach((item)=>{
                        if(item.name.indexOf(keywords)!=-1){
                            newList.push(item)
                        }
                    })
                    return newList
                }
            }
        })
    </script>
</body>
</html>